body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 75px;
  height: auto;
  padding: 16px;
}

.navbar-logo-left{
  display: block;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 76px;
  height: auto;
}
